/* Primary Colors */
$primary-blue: #1646F0;
$primary-green: #BAF3D2;
$primary-black: #000;
$primary-white: #ffffff;

/* Secondary Colors */
$secondary-grey: #d3d3d3; 

/* Background Colors */
$background-blue: #F2F7FB;

/* Alert Colors */
$alert-red: #FF0000;
$alert-orange: #FFA500;